[submodule "vsf"]
	path = vsf
	url = https://github.com/vsfteam/vsf
[submodule "application/3rd-party/ncurses/raw"]
	path = application/3rd-party/ncurses/raw
	url = ../ncurses
[submodule "application/3rd-party/less/raw"]
	path = application/3rd-party/less/raw
	url = ../less
[submodule "application/3rd-party/curl/raw"]
	path = application/3rd-party/curl/raw
	url = ../curl
