[submodule "vsf"]
	path = vsf
	url = ../../vsfteam/vsf
[submodule "application/3rd-party/ncurses/raw"]
	path = application/3rd-party/ncurses/raw
	url = ../ncurses
[submodule "application/3rd-party/less/raw"]
	path = application/3rd-party/less/raw
	url = ../less
[submodule "application/3rd-party/curl/raw"]
	path = application/3rd-party/curl/raw
	url = ../curl
[submodule "application/3rd-party/git/raw"]
	path = application/3rd-party/git/raw
	url = ../git
[submodule "application/3rd-party/openssl/raw"]
	path = application/3rd-party/openssl/raw
	url = ../openssl
[submodule "application/3rd-party/wamr/raw"]
	path = application/3rd-party/wamr/raw
	url = ../wasm-micro-runtime
[submodule "application/3rd-party/lite/raw"]
	path = application/3rd-party/lite/raw
	url = ../lite
[submodule "application/3rd-party/sdl/8086tiny"]
	path = application/3rd-party/sdl/x8086tiny
	url = ../x8086tiny
[submodule "application/3rd-party/sdl/raw"]
	path = application/3rd-party/sdl/raw
	url = ../SDL
[submodule "application/3rd-party/sdl/sdlpal"]
	path = application/3rd-party/sdl/sdlpal
	url = ../sdlpal
[submodule "application/3rd-party/sdl/audio/ogg"]
	path = application/3rd-party/sdl/audio/ogg
	url = ../ogg
[submodule "application/3rd-party/sdl/audio/vorbis"]
	path = application/3rd-party/sdl/audio/vorbis
	url = ../vorbis
[submodule "application/3rd-party/sdl/DungeonRush"]
	path = application/3rd-party/sdl/DungeonRush
	url = ../DungeonRush
[submodule "application/3rd-party/sdl/gnuboy"]
	path = application/3rd-party/sdl/gnuboy
	url = ../gnuboy
[submodule "application/3rd-party/sdl/nofrendo"]
	path = application/3rd-party/sdl/nofrendo
	url = ../nofrendo
[submodule "application/3rd-party/quickjs/raw"]
	path = application/3rd-party/quickjs/raw
	url = ../quickjs
[submodule "application/3rd-party/quickjs/MEUI"]
	path = application/3rd-party/quickjs/MEUI
	url = https://github.com/ZhUyU1997/MEUI
[submodule "application/3rd-party/sdl/mgba"]
	path = application/3rd-party/sdl/mgba
	url = ../mgba
[submodule "application/3rd-party/libmodbus/raw"]
	path = application/3rd-party/libmodbus/raw
	url = ../libmodbus
[submodule "application/3rd-party/sdl/sdl2_vnc"]
	path = application/3rd-party/sdl/sdl2_vnc
	url = ../sdl2_vnc
[submodule "application/3rd-party/ffmpeg/raw"]
	path = application/3rd-party/ffmpeg/raw
	url = ../FFmpeg
[submodule "application/3rd-party/libtuv/raw"]
	path = application/3rd-party/libtuv/raw
	url = ../libtuv
[submodule "application/3rd-party/xone"]
	path = application/3rd-party/xone
	url = ../xone
