[submodule "vsf"]
	path = vsf
	url = https://github.com/vsfteam/vsf
[submodule "application/3rd-party/ncurses/raw"]
	path = application/3rd-party/ncurses/raw
	url = ../ncurses
[submodule "application/3rd-party/less/raw"]
	path = application/3rd-party/less/raw
	url = ../less
[submodule "application/3rd-party/curl/raw"]
	path = application/3rd-party/curl/raw
	url = ../curl
[submodule "application/3rd-party/git/raw"]
	path = application/3rd-party/git/raw
	url = ../git
[submodule "application/3rd-party/openssl/raw"]
	path = application/3rd-party/openssl/raw
	url = ../openssl
[submodule "application/3rd-party/wamr/raw"]
	path = application/3rd-party/wamr/raw
	url = ../wasm-micro-runtime
[submodule "application/3rd-party/lite/raw"]
	path = application/3rd-party/lite/raw
	url = ../lite
[submodule "application/3rd-party/sdl/8086tiny"]
	path = application/3rd-party/sdl/x8086tiny
	url = ../8086tiny
[submodule "application/3rd-party/sdl/raw"]
	path = application/3rd-party/sdl/raw
	url = ../SDL
